<!-- CONTENT
================================================== -->
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">

        <!-- Image -->
        <img src="<%= asset_pack_url 'media/illustrations/illustration-8.png' %>" alt="..." class="img-fluid">

      </div>
      <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">

        <!-- Heading -->
        <h1 class="mb-0 font-weight-bold text-center">
          Confirmation Mail
        </h1>

        <!-- Text -->
        <p class="mb-6 text-center text-dark">
          Need to confirm your account? Get another confirmation email.
        </p>

        <!-- Form -->
        <%= simple_form_for(resource, html: { class: 'mb-6'}, as: resource_name, url: user_confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send email", class: 'btn btn-block btn-primary' %>
          </div>
        <% end %>

        <!-- Text -->
        <p class="mb-0 font-size-sm text-center text-dark">
          <%= render "users/shared/links" %>
        </p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
