<!-- MAIN CONTENT
================================================== -->
<div class="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">

        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle text-dark">
                  Onboarding
                </h6>

                <div class="progress mb-5">
                  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <!-- Title -->
                <h1 class="header-title">
                  User Profile
                </h1>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <!-- Form -->

        <%= simple_form_for([:dashboard, @job_description], class: 'mb-5') do |f| %>
        <%= f.input :benefits %>
        <%= f.input :country %>
        <%= f.input :department %>
        <%= f.input :description %>
        <%= f.input :education %>
        <%= f.input :experience %>
        <%= f.input :hours_per_week %>
        <%= f.input :industry %>
        <%= f.input :internal_code %>
        <%= f.input :job_function %>
        <%= f.input :job_title %>
        <%= f.input :keywords %>
        <%= f.input :region %>
        <%= f.input :remote %>
        <%= f.input :requirements %>
        <%= f.input :salary_currency %>
        <%= f.input :salary_rate %>

        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :salary_max_cents %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :salary_min_cents %>

          </div>
        </div>
        <%= f.submit 'Save job description', class: 'btn btn-primary lift mb-5' %>
        <% end %>
      </div>
    </div> <!-- / .row -->
  </div>

</div> <!-- / .main-content -->
