<!-- WELCOME ================================================== -->
<section class="py-8 py-md-11 border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Headin -->
        <h1 class="display-2">
          WorkLark is the only tool you need
        </h1>

        <!-- Text -->
        <p class="lead text-muted mb-7 mb-md-9">
          To streamline your hiring process;<br >
          To maintain the human experience; and<br >
          To hire the right candidate
        </p>

      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">

        <!-- Image -->
        <div class="form-row">
          <div class="col-4">

            <%= image_pack_tag 'media/images/styled-mark.svg', class: "img-fluid rounded", alt:"..." %>

          </div>
          <div class="col-3">

            <%= image_pack_tag 'media/photos/photo-17.jpg', class: "img-fluid rounded shadow-lg mb-4", alt:"..." %>

            <%= image_pack_tag 'media/photos/photo-18.jpg', class: "img-fluid rounded shadow-lg mt-1", alt:"..." %>

          </div>
          <div class="col-5">

            <div class="form-row mb-4">
              <div class="col-5">

                <%= image_pack_tag 'media/photos/photo-19.jpg', class: "img-fluid rounded shadow-lg ", alt:"..." %>

              </div>
              <div class="col-7">

                <%= image_pack_tag 'media/photos/photo-12.jpg', class: "img-fluid rounded shadow-lg ", alt:"..." %>

              </div>
            </div>
            <!-- / .row -->

            <%= image_pack_tag 'media/photos/photo-21.jpg', class: "img-fluid rounded shadow-lg mt-1", alt:"..." %>

          </div>
        </div>

      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>


<!-- PEOPLE ================================================== -->
<section class="py-8 py-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">

        <!-- Heading -->
        <h2>
          Starting small. Aiming for a big impact.
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-7 mb-md-9">
          We're a small team focused on making a big difference. People passionate about changing the world should work together. Interested? Join us!
        </p>

      </div>
    </div>
    <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-4">

        <!-- Card -->
        <div class="card text-center shadow-light-lg">

          <!-- Image -->
          <%= image_pack_tag 'media/team/amin.jpg', class: "card-img-top"%>

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <%= render_landkit_svg 'img/shapes/curves/curve-1.svg' %>
            </div>
          </div>

          <!-- Body -->
          <div class="card-body">
            <p class="card-title">Amin Shah Gilani, CEO</p>
            <ul class="card-text list-unstyled list-inline list-social mb-6 mb-md-0">
              <li class="list-inline-item list-social-item mr-3">
                <a href="https://www.linkedin.com/in/amingilani" class="text-decoration-none" target="_blank">
                  <i data-feather="linkedin" class="list-social-icon"></i>
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a href="https://twitter.com/amingilani" class="text-decoration-none" target="_blank">
                  <i data-feather="twitter" class="list-social-icon"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-4">

        <!-- Card -->
        <div class="card text-center shadow-light-lg">

          <!-- Image -->
          <%= image_pack_tag 'media/team/izza.jpg', class: "card-img-top"%>

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <%= render_landkit_svg 'img/shapes/curves/curve-1.svg' %>
            </div>
          </div>

          <!-- Body -->
          <div class="card-body">
            <p class="card-title">Izza Shahid Gilani, COO</p>
            <ul class="card-text list-unstyled list-inline list-social mb-6 mb-md-0">
              <li class="list-inline-item list-social-item mr-3">
                <a href="https://www.linkedin.com/in/izzagilani" class="text-decoration-none" target="_blank">
                  <i data-feather="linkedin" class="list-social-icon"></i>
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a href="https://twitter.com/izzagilani" class="text-decoration-none" target="_blank">
                  <i data-feather="twitter" class="list-social-icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- CTA ================================================== -->
<section class="pt-6 pt-md-8">
  <div class="container pb-6 pb-md-8 border-bottom">
    <div class="row align-items-center">
      <div class="col-12 col-md">

        <!-- Heading -->
        <h3 class="font-weight-bold mb-1">
          Interested in joining our team?
        </h3>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-5 mb-md-0">
          Keep following us. We'll have more spots opening up soon.
        </p>

      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
