<section class="pt-4 pt-md-11">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">

        <!-- Image -->
        <%= image_pack_tag 'media/illustrations/illustration-2.png', class: "img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0", alt: "...", data: {aos: "fade-up", aos_delay: "100" }%>

      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-3 text-center text-md-left">
          Meet
          <span class="text-primary">WorkLark</span>.
          <br>
          Your hiring partner.
        </h1>

        <!-- Text -->
        <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
          The recruitment companion to streamline and improve your hiring process.
        </p>

        <!-- Buttons -->
        <div class="text-center text-md-left">
          <a href="#apply-for-invite" class="btn btn-primary shadow lift mr-1">
            Apply for an invite
            <i data-feather="arrow-down" class="d-none d-md-inline"></i>
          </a>
        </div>

      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- FEATURES ================================================== -->
<section class="py-8 py-md-11 border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <%= render_landkit_svg 'img/icons/duotone-icons/General/Settings-1.svg' %>
        </div>

        <!-- Heading -->
        <h3>
          Built for you
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          WorkLark is built for small and medium-sized businesses in mind.
        </p>

      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <%= render_landkit_svg 'img/icons/duotone-icons/Layout/Layout-arrange.svg' %>
        </div>

        <!-- Heading -->
        <h3>
          Hire faster
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          With recruiting, screening, and hiring tools all in one place. You hire at your fastest.
        </p>

      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <%= render_landkit_svg 'img/icons/duotone-icons/Text/Code.svg' %>
        </div>

        <!-- Heading -->
        <h3>
          Screen smarter
        </h3>

        <!-- Text -->
        <p class="text-muted mb-0">
          Process every candidate in the same place; record, process, and rate every interaction. With WorkLark you'll hire the best candidate available!
        </p>

      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- ABOUT ================================================== -->
<section class="pt-8 pt-md-11 bg-gradient-light">
  <div class="container">
    <div class="row align-items-center justify-content-between mb-8 mb-md-11">
      <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

        <!-- Heading -->
        <h2>
          The most useful tool
          <br>
          <span class="text-success">to
            <span data-toggle="typed" data-options='{"strings": ["screen", "process", "hire"]}'></span>candidates.</span>
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-6">
          WorkLark streamlines your hiring process. From posting jobs to reviewing resumes and interviewing candidates WorkLark not only makes sure you find the right talent but also makes the whole process easier.
        </p>

        <!-- List -->
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                1
              </div>

              <!-- Text -->
              <p class="text-success">
                Post jobs
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                2
              </div>

              <p class="text-success mb-lg-0">
                Schedule interviews
              </p>

            </div>

          </div>
          <div class="col-12 col-lg-6 mb-6 mb-md-0">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                3
              </span>

              <!-- Text -->
              <p class="text-success">
                Screen candidates
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                4
              </div>

              <!-- Text -->
              <p class="text-success mb-0">
                Hire right
              </p>

            </div>

          </div>
        </div>
        <!-- / .row -->

      </div>
      <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">

        <!-- Card -->
        <div id="apply-for-invite" class="card shadow-light-lg lift lift-lg">

          <!-- Image -->
          <%= image_pack_tag 'media/photos/photo-2.jpg', class: "card-img-top"%>

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <%= render_landkit_svg 'img/shapes/curves/curve-1.svg' %>
            </div>
          </div>

          <!-- Body -->
          <div class="card-body">

            <!-- Form -->
            <form>
              <div class="form-label-group">
                <input type="text" class="form-control form-control-flush" id="cardName" placeholder="Name">
                <label for="cardName">Name</label>
              </div>
              <div class="form-label-group">
                <input type="text" class="form-control form-control-flush" id="cardBusiness" placeholder="Business">
                <label for="cardBusiness">Business</label>
              </div>
              <div class="form-label-group">
                <input type="email" class="form-control form-control-flush" id="cardEmail" placeholder="Email">
                <label for="cardEmail">Email</label>
              </div>
              <div class="mt-6">
                <button class="btn btn-block btn-success lift" type="submit">
                  Apply for an invite
                </button>
              </div>
            </form>

          </div>

        </div>

      </div>
    </div>
    <!-- / .row -->

  </div>
  <!-- / .container -->
</section>

<!-- SHAPE ================================================== -->
<div class="position-relative mt-n8">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
    <%= render_landkit_svg 'img/shapes/curves/curve-3.svg' %>
  </div>
</div>

<!-- STATS ================================================== -->
<section class="pt-12 pt-md-13 bg-gray-200">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">

        <!-- Image -->
        <%= image_pack_tag 'media/illustrations/illustration-8.png', class: "img-fluid mb-6 mb-md-0"%>

      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1">

        <!-- Heading -->
        <h2>
          Life is too short to waste time.
          <br>
          <span class="text-primary">Streamline your hiring.</span>
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6">
          We want to help you eliminate your tedious paperwork so you can focus on your business.
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- PRICING ================================================== -->
<section class="pt-9 pt-md-12 bg-gray-200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Heading -->
        <h1>
          Pricing
        </h1>

        <!-- Text -->
        <p class="lead text-gray-700">
          We're free to try while we're just starting out.
        </p>

      </div>
    </div>
    <!-- / .row -->
    <div class="row align-items-center no-gutters">
      <div class="col-12 col-md-6">

        <!-- Card -->
        <div class="card rounded-lg shadow-lg mb-6 mb-md-0" style="z-index: 1;" data-aos="fade-up">

          <!-- Body -->
          <div class="card-body py-6 py-md-8">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-9">

                <!-- Badge -->
                <div class="text-center mb-5">
                  <span class="badge badge-pill badge-primary-soft">
                    <span class="h6 font-weight-bold text-uppercase">Standard</span>
                  </span>
                </div>

                <!-- Price -->
                <div class="d-flex justify-content-center">
                  <span class="h2 mb-0 mt-2">$</span>
                  <span class="price display-2 mb-0" data-annual="29" data-monthly="49">0</span>
                  <span class="h2 align-self-end mb-1">/mo</span>
                </div>

                <!-- Text -->
                <p class="text-center text-muted mb-6 mb-md-8">
                  per recruiter
                </p>

                <!-- Features -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i data-feather="check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    Custom hiring posts
                  </p>

                </div>
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i data-feather="check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    Fully editable email templates
                  </p>

                </div>
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i data-feather="check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    Interview scheduling
                  </p>

                </div>
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i data-feather="check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    Private notes
                  </p>

                </div>
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i data-feather="check"></i>
                  </div>

                  <!-- Text -->
                  <p class="mb-0">
                    Email support
                  </p>

                </div>

              </div>
            </div>
            <!-- / .row -->
          </div>

          <!-- Button -->
          <a href="#apply-for-invite" class="card-btn btn btn-block btn-lg btn-primary rounded-bottom">
            Apply for an invite
          </a>

        </div>

      </div>
      <div class="col-12 col-md-6 ml-md-n3">

        <!-- Card -->
        <div class="card rounded-lg shadow-lg" data-aos="fade-up" data-aos-delay="200">

          <!-- Body -->
          <div class="card-body py-6 py-md-8">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-10">

                <!-- Badge -->
                <p class="text-center mb-8 mb-md-11">
                  <span class="badge badge-pill badge-primary-soft">
                    <span class="h6 font-weight-bold text-uppercase">Enterprise</span>
                  </span>
                </p>

                <!-- Text -->
                <p class="lead text-center text-muted mb-0 mb-md-10">
                  Always updatable on-site deployments, tight integrations with existing tooling, strict data compliance policies, etc. We'll have something for you soon.
                </p>

              </div>
            </div>
            <!-- / .row -->
          </div>

          <!-- Button -->
          <div href="#!" class="card-btn btn btn-block btn-lg btn-light bg-gray-300 text-gray-700 rounded-bottom">
            Coming soon
          </div>

        </div>

      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- SHAPE ================================================== -->
<div class="position-relative mt-n15">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <%= render_landkit_svg 'img/shapes/curves/curve-1.svg' %>
  </div>
</div>

<!-- FAQ ================================================== -->
<section class="pt-15 bg-dark">
  <div class="container pt-8 pt-md-11">
    <div class="row">
      <div class="col-12 col-md-6">

        <!-- Item -->
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-success">
            <span>?</span>
          </div>

          <div class="ml-5">

            <!-- Heading -->
            <h4 class="text-white">
              Will you charge after your private beta?
            </h4>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-8">
              Yes, we will. During the private beta period, we’ll be building the features based on the demands of a small pool of participants. You’ll be heard and your problems will be solved. In return, WorkLark will run for you, for free. Afterward, we’ll
              charge you a nominal fee.
            </p>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6">

        <!-- Item -->
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-success">
            <span>?</span>
          </div>

          <div class="ml-5">

            <!-- Heading -->
            <h4 class="text-white">
              How does it work?
            </h4>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              We will walk you through the process so nothing is left out. Save time with the customized application form. WorkLark gives you the flexibility to. You publish.
            </p>

          </div>

        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </section>

  <!-- CTA ================================================== -->
  <section class="py-8 py-md-11 bg-dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

          <!-- Badge -->
          <span class="badge badge-pill badge-gray-700-soft mb-4">
            <span class="h6 font-weight-bold text-uppercase">Get started</span>
          </span>

          <!-- Heading -->
          <h1 class="display-4 text-white">
            Screen Smarter, Hire faster.
          </h1>

          <!-- Text -->
          <p class="font-size-lg text-muted mb-6 mb-md-8">
            WorkLark is here to save your time.
          </p>

          <!-- Button -->
          <a href="#apply-for-invite" class="btn btn-success lift">
            Apply for an invite
            <i data-feather="arrow-up"></i>
          </a>

        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </section>
