<nav class="navbar navbar-expand-lg navbar-light <%= local_assigns[:class_list] %> ">
  <div class=" <%= local_assigns[:type] ? 'container' : '' %> ">
    <!-- Brand -->
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_pack_tag 'media/images/logo.svg', width: "181 px", class: "inavbar-brand-img", alt: "WorkLark"%>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="navbarLandings" href="<%= pricing_path %>">
            Pricing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarLandings" href="<%= about_path %>">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarLandings" href="<%= support_path %>">
            Support
          </a>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="<%= root_path %>#apply-for-invite">
        Apply for an invite
      </a>
    </div>
  </div>
</nav>
