<!-- CONTENT
================================================== -->
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">

        <!-- Image -->
        <img src="<%= asset_pack_url 'media/illustrations/illustration-8.png' %>" alt="..." class="img-fluid">

      </div>
      <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">

        <!-- Heading -->
        <h1 class="mb-0 font-weight-bold text-center">
          Sign up
        </h1>

        <!-- Text -->
        <p class="mb-6 text-center text-dark">
          Simplify your workflow in minutes.
        </p>

        <!-- Form -->
        <%= simple_form_for(resource, html: { class: 'mb-6'}, as: resource_name, url: registration_path(resource_name) ) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: 'btn btn-block btn-primary' %>
          </div>
        <% end %>

        <!-- Text -->
        <p class="mb-0 font-size-sm text-center text-dark">
          <%= render "users/shared/links" %>
        </p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
